.no-orders {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders-list {
  list-style: none;

  &__item {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
}
